<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>A Propos</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
<div class="in-content">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-5">A propos de nous</h1>
            <p class="mb-3">S'inscrivant dans une démarche éco-responsable, "Tous mes points" permet aux commerçants de Puteaux
                et à leurs clients de regrouper leurs cartes fidélités.
            <p class="mb-3">Fini les petites cartes perdues au fond du sac, ou oubliées à la maison. Elles sont rassemblées ici, à portée de clic.
            <p class="mb-3">Application putéolienne, nous n'avons dans notre périmètre actuel que la ville de Puteaux.
            <div class="text-center mt-5 mb-5">
                <img th:src="@{/img/recycle.png}"/>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>