<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>A Propos</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
<div class="in-content">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-6">A propos de nous</h1>
            <h2 class="mb-4 mt-5">Tous mes Points</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in efficitur elit.
                Suspendisse id faucibus mi. Donec a felis volutpat massa tincidunt malesuada nec non urna. Pellentesque ut
                pellentesque quam, a rhoncus mi.
            <p>In hac habitasse platea dictumst. Nullam vel tempor justo.
                Vivamus pharetra, metus non viverra lobortis, felis magna iaculis metus, id ultrices massa enim ac tortor.
                Nulla lacinia purus sit amet iaculis finibus. Aenean varius velit at lorem iaculis, non ullamcorper est pretium.
                Sed molestie quis ipsum eget viverra.
            <p>Suspendisse erat ligula, aliquet ac vehicula non, interdum dignissim justo.
                Aliquam erat volutpat. Donec mollis odio et quam pellentesque, at imperdiet elit porttitor.
                Duis efficitur risus a erat tincidunt varius. Nulla facilisi.
                Vivamus ex arcu, gravida ut placerat vel, bibendum et enim.
        </div>
    </div>
</div>
</div>
</body>
</html>