<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Utilisateurs</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <h2>Liste utilisteurs</h2>
        <div th:each="user : ${users}" class="card col-md-4 mt-5">
            <a th:href="@{/Utilisateurs/MonProfil/__${user.id}__}" >
                <h5 class="card-header" th:text= "'id: '+${user.id}+' - '+${user.firstName}+' '+${user.lastName}"></h5>
            </a>
        </div>

    </div>
</div>
</body>
</html>