<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Ma carte fidélité</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <h1 class="text-center mb-5 text-capitalize" th:text= "${merchant.merchantName}" />
        <h2 class="text-center" th:text="${merchant.category}" />
        <h2 class="text-center" th:text="${merchant.address}" />

        <div class="card col-md-5 mb-3 mt-5 mx-auto">
            <div class="card-body">
                <!--Google map-->
                <div class="embed-responsive embed-responsive-4by3">
                    <img style="border: 0" class="embed-responsive-item" th:src="${merchant.getMapsAddress()}"/>
                </div>
            </div>
        </div>

        <div class="text-center mt-5" th:text="'Mes récompenses: '+${reward.getRewardsNbr()}" />


        <div class="row mt-5 mb-5">
            <div class="col-sm-4 fidelity-card rounded mx-auto p-5">
                <h3 class="text-white mb-3" id="fidelity-card-title">Carte fidélité</h3>
                <ul class="list-unstyled mb-3 mt-5 score">
                    <li th:each="point, iStat : ${#numbers.sequence(1, reward.getMaxPoints())}" th:class="${iStat.count<=pointsOn ? 'points-on':'points-off'}">
                    </li>
                </ul>
            </div>
        </div>

        <div th:if="${reward.getRewardsNbr() == 1}">
            <form th:action="@{/CarteFidelites/{id}/redeem(id=${reward.getId()})}" method="post" th:object="${reward}">
                <div class="col-sm-6 col-sm-offset-3  mx-auto mt-5">
                    <input type="submit"
                           class="form-control btn btn-lg btn-success"
                           value="Récupérer la récompense">
                </div>
            </form>
        </div>

        <!--TEST LOCAL-->
        <form th:action="@{/CarteFidelites/{id}/add-point(id=${reward.getId()})}" method="post" th:object="${reward}">
            <div class="col-sm-6 col-sm-offset-3  mx-auto mt-5">
                <input type="submit"
                       class="form-control btn btn-lg btn-primary"
                       value="Ajouter un point (TEST LOCAL)">
            </div>
        </form>

        <!-- / TEST LOCAL-->

        <div class="text-center mt-5 mb-5">
        <img th:src="'data:image/jpg;base64,'+${reward.base64}" />
        </div>
        <form class="mb-5" th:action="@{/CarteFidelites/delete/{id}(id=${reward.getId()})}" method="post" th:object="${reward}">
            <div class="col-sm-6 col-sm-offset-3  mx-auto mt-5 mb-5">
                <input type="submit"
                       class="form-control btn btn-lg btn-danger"
                       value="Suppression de carte fidélité">
            </div>
        </form>
    </div>
</div>
</body>
</html>