<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Contact</title>
    <link th:href="@{/fontawesome-free/css/all.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <div class="col-10 mx-auto ">
            <section id="signup" class="signup-section mt-5">
                <div class="row">
                    <div class="col-md-8 col-lg-6 mx-auto text-center mt-5">
                        <i class="far fa-paper-plane fa-2x mb-2 "></i>
                        <h2 class="mb-5">Inscrivez-vous à la newsletter!</h2>
                        <td th:if="${successMessage ne null}">
                            <div class="alert alert-success mx-auto">
                                <span  th:text="${successMessage}"/>
                            </div>
                        </td>
                        <td th:if="${errorMessage ne null}">
                            <div class="alert alert-danger mx-auto">
                                <span  th:text="${errorMessage}"/>
                            </div>
                        </td>
                        <td th:if="${infoMessage ne null}">
                            <div class="mt-5 alert alert-info" role="alert">
                                <span  th:text="${infoMessage}"/>
                            </div>
                        </td>
                        <form th:action="@{/contact}" cssClass="form-horizontal"  method="post"  th:object="${newsletter}">
                            <div class="input-group">
                                <input type="email" name="email" class="form-control" placeholder="Adresse email..." />
                                <button type="submit" class="btn btn-primary mx-auto">Inscription</button>
                            </div>
                        </form>

                    </div>
                </div>
            </section>
            <!-- Contact Section -->
            <section class="contact-section mt-5">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-4 mb-3 mb-md-0 mt-5">
                            <div class="card shadow py-4 h-100 bg-dark text-white">
                                <div class="card-body text-center">
                                    <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                    <h4 class="text-uppercase m-0">Address</h4>
                                    <hr class="my-4">
                                    <div class="small text-white-50">4923 Market Street, Orlando FL</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3 mb-md-0 mt-5">
                            <div class="card shadow py-4 h-100 bg-dark text-white">
                                <div class="card-body text-center">
                                    <i class="fas fa-envelope text-primary mb-2"></i>
                                    <h4 class="text-uppercase m-0">Email</h4>
                                    <hr class="my-4">
                                    <div class="small text-white-50">
                                        <a href="#">hello@yourdomain.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3 mb-md-0 mt-5">
                            <div class="card shadow py-4 h-100 bg-dark text-white">
                                <div class="card-body text-center">
                                    <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                    <h4 class="text-uppercase m-0">Phone</h4>
                                    <hr class="my-4">
                                    <div class="small text-white-50">+1 (555) 902-8832</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- social icons -->
                <div class="container mt-5 mb-5 mt-5">
                    <div class="row">
                        <div class="col-md-8 col-lg-6 mx-auto text-center h-50 mt-5">
                            <div class="social d-flex justify-content-center">
                                <a href="#" class="mx-5">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="mx-5">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="mx-5">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>