<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Nos Marchands</title>

    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?sensor=false">
    </script>

</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <div class="row offset-md-4 ">
            <a th:each="cat: ${cats}"
               th:href="@{/Marchands/cat/__${cat.id}__}" role="button"
               th:class="${#strings.contains(#httpServletRequest.requestURI, 'cat/'+cat.id)?'btn btn-outline-info btn-lg mt-2 mx-sm-auto mr-md-3 ml-md-3 active':'btn btn-outline-info btn-lg mt-2 mx-sm-auto mr-md-3 ml-md-3'}"
              th:text="${cat.categoryName}">
            </a>
        </div>
        <div th:if="${merchants.isEmpty()}" class="mt-5 mx-auto">
            <h3 th:text="'Il n\'y a pas encore de boutique'"  class="mx-auto"></h3>
        </div>
        <div class="row offset-md-1 ">
            <div th:each="merchant : ${merchants}" class="card col-md-5 mb-3 mt-5 mr-5 ml-5 mx-auto">
                <a th:href="@{/Marchands/__${merchant.id}__}" th:style="|text-decoration:none;|">
                    <!--Card-->
                    <div class="card-header text-center text-capitalize bg-dark text-white mb-1">
                        <div class="row ml-2">
                            <img th:attr="src=@{'data:image/png;base64,'+${merchant.category.icon.icon}}" th:style="'width:50px'"/>
                                <h4 class="ml-5 ml-md-2" th:text= "${merchant.merchantName}" />
                                <span class="ml-5">
                                    <i class="ml-2 fas fa-walking"></i>
                                    <h4 th:if="${userId eq null}" class="ml-2 d-inline-block"> km/min</h4>
                                    <h4 th:if="${userId ne null}" class="ml-1 d-inline-block" th:text="${merchant.dm.getDistanceText()+' / '+merchant.dm.getDurationText()}" />
                                </span>
                        </div>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Google map-->
                        <div class="embed-responsive embed-responsive-4by3">
                            <img style="border: 0" class="embed-responsive-item" th:src="${merchant.getMapsAddress()}"/>
                        </div>
                    </div>
                    <!--/.Card content-->
                    <div class="card-footer text-capitalize bg-dark text-white mb-1">
                        <p th:text="${merchant.getCategory().getCategoryName()}"/>
                        <p th:text="${merchant.address}"/>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>