<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Mes Boutiques</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <div class="row mt-5">
            <h2 th:text="'Mes boutiques'" class="mb-5 mx-auto"/>
        </div>
        <div class="row col-sm-6 col-sm-offset-3  mx-auto">
            <a th:href="@{/Marchands/nouvelle-boutique}" >
                <div class="mx-auto">
                    <input type="submit"
                           class="form-control btn btn-lg btn-primary"
                           value="Ajouter une Boutique">
                </div>
            </a>
        </div>
    </div>
    <div th:each="shop : ${shopList}" class="card col-md-3 mt-5 mr-5 ml-5">
        <a th:href="@{/Marchands/__${shop.id}__}" th:style="|text-decoration:none;|">
            <div  class="card-header  bg-secondary text-capitalize text-white" th:text= "${shop.merchantName}" />
            <div th:text="${shop.address}" />
            <div class="card-footer text-capitalize" th:text="${shop.getCategory()}"/>
        </a>
    </div>
</div>
</body>
</html>