<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Mes Boutiques</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <div class="row mt-5">
            <h2 th:text="'Mes boutiques'" class="mb-5 mx-auto"/>
        </div>
        <div class="row">
            <a th:href="@{/Marchands/nouvelle-boutique}" class="mx-auto">
                <div class="mx-auto">
                    <input type="submit"
                           class="form-control btn btn-lg btn-primary"
                           value="Ajouter une Boutique">
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div th:each="shop : ${shopList}" class="card col-md-3 mt-5 mr-5 ml-5 mx-auto">
            <a th:href="@{/Marchands/__${shop.id}__}" th:style="|text-decoration:none;|">
                <!--Card-->
                <div class="card-header text-center text-capitalize bg-dark text-white mb-1">
                    <div class="row ml-2">
                        <img th:src="${shop.getIconLink()}" th:style="'width:30px'">
                        <h4 class="ml-2" th:text= "${shop.merchantName}" />
                    </div>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Google map-->
                    <div class="embed-responsive embed-responsive-4by3">
                        <img style="border: 0" class="embed-responsive-item" th:src="${shop.getMapsAddress()}"/>
                    </div>
                </div>
                <!--/.Card content-->
                <div class="card-footer text-capitalize bg-dark text-white mb-1">
                    <p th:text="${shop.getCategory().getCategoryName()}"/>
                    <p th:text="${shop.address}"/>
                </div>
            </a>
        </div>
    </div>
    <div class="mb-5"></div>
</div>
</body>
</html>