<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Réinitialisation mot de passe</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <div class="row mt-5">
            <h1 class="mb-5 mt-5 mx-auto">Réinitialisation mot de passe</h1>
        </div>
        <div class="row">
            <div class="mx-auto col-md-6 mt-4">
                <form th:action="@{/Utilisateurs/MotDePasseReset}" method="post">
                      <td th:if="${success == 1}">
                        <div class="mt-5 alert alert-success" role="alert">
                            Votre mot de passe vous a été réinitialisé <a th:href="@{/Utilisateurs/connexion}" class="alert-link">Connectez vous ici</a>
                        </div>
                      </td>
                    <div class="hidden">
                        <input type="hidden" name="resetToken" th:value="${resetToken}"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de Passe</label>:
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               placeholder="Mot de passe">
                    </div>
                    <div class="form-group mt-5">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3  mx-auto">
                                <input type="submit"
                                       name="password-submit"
                                       id="password-submit"
                                       class="form-control btn btn-lg btn-info"
                                       value="Envoyer">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>