<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Mon profil</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <h1 class="text-center mb-5 text-capitalize" th:text= "${merchant.merchantName}+' '+${merchant.category}" />
        <h2 class="text-center mb-5 text-capitalize" th:text= "${merchant.address}" />
        <div th:if="${sessionId == merchant.getUserId()}">
        <div class="row mt-5">
            <h2 th:text="'Mes utilisateurs'" class="mb-5 mx-auto"/>
        </div>
        <div class="row mt-5">

        </div>
        <form th:action="@{/Marchands/delete/{id}(id=${merchant.getId()})}" method="post" th:object="${merchant}">
            <div class="col-sm-6 col-sm-offset-3  mx-auto">
                <input type="submit"
                       class="form-control btn btn-lg btn-danger"
                       value="Suppression de boutique">
            </div>
        </form>
        </div>

        <div th:if="${sessionId != merchant.getUserId() && sessionId != null}">
            <form th:action="@{/CarteFidelites/add-account}" method="post" th:object="${rewardCard}">
                <input type="hidden" name="idMerchant" th:value="${merchant.id}" />
                <input type="hidden" name="idUser" th:value="${sessionId}" />
                <div class="col-sm-6 col-sm-offset-3  mx-auto">
                    <input type="submit"
                           class="form-control btn btn-lg btn-danger"
                           value="Prendre une carte fidélité">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>