<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Mon profil</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <h1 class="text-center mb-5 text-capitalize" th:text= "${merchant.merchantName}+' - '+${merchant.category}" />
        <h2 class="text-center mb-5 text-capitalize" th:text= "${merchant.address}" />

        <div class="row">
            <div class="mx-auto">
                <i class="ml-2 fas fa-walking"></i>
                <h4 th:if="${sessionId eq null}" class="ml-2 d-inline-block"> km/min</h4>
                <h4 th:if="${sessionId ne null}" class="ml-1 d-inline-block" th:text="${merchant.dm.getDistanceText()+' / '+merchant.dm.getDurationText()}" />
            </div>
        </div>

        <!-- IF User in session is  owner of shop -->
        <div class="mb-5" th:if="${sessionId == merchant.getUserId()}">
            <div class="row">
                <div class="card col-md-5 mt-5 mr-5 ml-5 fidelity-card mx-auto">
                    <div class="card-body text-white">
                        <p th:text="${'Nombre de cartes fidélité: '+cards.size()}"></p>
                        <p th:text="${'Nombre de récompenses en attente: '+rewardsTot}"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--For everyone to see -->
        <div class="card col-md-5 mb-3 mt-5 mb-5 mx-auto">
            <div class="card-body">
                <!--Google map-->
                <div class="embed-responsive embed-responsive-4by3">
                    <img style="border: 0" class="embed-responsive-item" th:src="${merchant.getMapsAddress()}"/>
                </div>
            </div>
        </div>

        <!-- IF no session -->
        <div th:if="${sessionId == null}">
            <div class="row">
                <div class="mx-auto mt-5 mb-5">
                    <a class="btn-lg btn-secondary" th:text="'Connectez vous'" th:href="@{/Utilisateurs/connexion}" />
                </div>
            </div>
        </div>

        <!-- IF Session exists AND User in session is NOT owner of shop-->
        <div class="mb-5" th:if="${sessionId != merchant.getUserId() && sessionId != null && errorMessage == null}">
            <form th:action="@{/CarteFidelites/add-account}" method="post" th:object="${rewardCard}">
                <input type="hidden" name="idMerchant" th:value="${merchant.id}" />
                <input type="hidden" name="idUser" th:value="${sessionId}" />
                <div class="col-sm-6 col-sm-offset-3  mx-auto">
                    <input type="submit"
                           class="form-control btn btn-lg btn-danger"
                           value="Prendre une carte fidélité">
                </div>
            </form>
        </div>
        <div class="mb-5"></div>
        <!-- IF Session exists AND User in session is NOT owner of shop BUT has already the card-->
        <td th:if="${errorMessage ne null}">
            <div class="alert alert-info col-md-6 mx-auto">
                <span  th:text="${errorMessage}"/>
            </div>
        </td>

        <!-- IF User in session is  owner of shop -->
        <div class="mb-5" th:if="${sessionId == merchant.getUserId()}">
            <div class="row mt-5">
            </div>
            <form th:action="@{/Marchands/edit/{id}(id=${merchant.getId()})}">
                <div class="col-sm-6 col-sm-offset-3  mx-auto mt-5">
                    <input type="submit"
                           class="form-control btn btn-lg btn-primary"
                           value="Editer informations">
                </div>
            </form>
            <form class="mb-5" th:action="@{/Marchands/delete/{id}(id=${merchant.getId()})}" method="post" th:object="${merchant}">
                <div class="col-sm-6 col-sm-offset-3 mt-5 mx-auto">
                    <input type="submit"
                           class="form-control btn btn-lg btn-danger"
                           value="Suppression de boutique">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>