<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Point Ajouté</title>
    <script type="text/javascript" th:src="@{/js/countdown.js}"></script>
</head>
<body th:onload="countdown()">
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <div class="row mt-5 alert alert-success" role="alert">
            <input type="hidden" id="cardId" th:value="${cardId}" />
            <p>Le point a bien été ajouté! <span id="countdown">6</span> secondes
        </div>
    </div>
</div>
</body>
</html>