<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Mon profil</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" class="container">
    <div class="in-content">
        <h1 class="text-center mb-5 text-capitalize" th:text= "${user.firstName}+' '+${user.lastName}" />
        <div class="row mt-5">
            <h2 th:text="'Mes comptes fidélités'" class="mb-5 mx-auto"/>
        </div>
        <div th:each="account : ${userRewards}">
            <a th:href="@{/CarteFidelites/__${account.getId()}__}" th:style="|text-decoration:none;|">
                <div th:each="shop:${shops}">
                    <div th:if="${shop.getId() == account.getIdMerchant()}" class="card col-md-3 mt-5 mr-5 ml-5 mx-auto">
                        <div class="card-header text-center bg-dark text-white mb-1">
                            <h4 th:text= "${#strings.capitalize(shop.merchantName)}" />
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <!--Google map-->
                            <div class="embed-responsive embed-responsive-4by3">
                                <img style="border: 0" class="embed-responsive-item" th:src="${shop.getMapsAddress()}"/>
                            </div>
                        </div>
                        <!--/.Card content-->
                        <div class="card-footer text-capitalize">
                            <p th:text="${shop.getCategory()}"/>
                            <p th:text="${shop.address}"/>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <form th:action="@{/Utilisateurs/delete/{id}(id=${user.getId()})}" method="post" th:object="${user}">
            <div class="col-sm-6 col-sm-offset-3  mx-auto mt-5">
                <input type="submit"
                       class="form-control btn btn-lg btn-danger"
                       value="Suppression de compte">
            </div>
        </form>
    </div>
</div>
</body>
</html>