*{
    font-size: medium;
}
/*STICKY FOOTER*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}
/*IN PAGE*/

h1 {
    color: #3d7cab;
}
h2 {
    color: #4d98ab;
}

.in-content{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

/*CARDS*/
.card{
    padding: 0;
}
.card-img-top {
    width: 60%;
    height: 30vh;
    object-fit: cover;
}
.card a:hover{
    color: #2a9fff;
}
.card a{
    color: #3d7cab;
}
#moreLink, #authorLink{
    color: #2a9fff;
}
#moreLink:hover, #authorLink:hover{
    color: #e9e9e9;
}
.bg-darkened{
    background-color: #c5c5c5;
}
.card-footer{
    color: #3d7cab;
}
.error{
    color: red;
}

/*FORMS*/
.form-group{
    font-size: larger;
}
.form-group input{
    padding: 1em 0.5em 1em 0.5em;
}
.user-info{
    background-color: white!important;
}
.no-style-link, .no-style-link:hover, .no-style-link:visited{
    text-decoration: none;
}

#password-eye{
    padding: 0.5em;
    font-size: larger;
}
.card-group{
    margin-bottom: 5em;
}

/*FIDELITY CARDS*/
.fidelity-card{
    background-color: gray;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
}
#fidelity-card-title{
    font-family: 'Cormorant Upright', serif;
    font-size: xx-large;
}

.points-off {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 8px;
    display: inline-block;
}

.points-on {
    width: 40px;
    height: 40px;
    background-color: #0069D9;
    border-radius: 50%;
    margin: 8px;
    display: inline-block;
}

.reward-img{
    width: 100%;
    margin: 10px;
}
.row-img::after{
    content: "";
    clear: both;
    display: table;
}
.column-img{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.btn-active{
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
}
/*MOBILE*/
@media only screen and (max-width: 768px) {
    h1{
        font-size: 20px;
        font-weight: bold;
    }
    h1 .small{
        font-size: smaller;
        display: block;
        margin-top: 1vh;
        font-weight: normal;
    }

    #moreLink{
        margin-left: 1em;
    }
    .img-fluid{
        margin-top: 20%;
    }
    .card-group{
        align-items: center;
    }

    .points-on,.points-off{
        margin: 1px;
        height: 38px;
        width: 38px;
    }
    .fidelity-card{
        width: 96%;
    }
}